body{
 background: url('https://www.xtrafondos.com/wallpapers/resized/rick-and-morty-en-3d-8453.jpg?s=large');
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}