body{
    background: url('https://imagenes.elpais.com/resizer/oumjZVAwTKapCwxE-NOaXumqtEM=/1960x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/Z6WN33YVLRCTPCATP7EAJ2ODLE.jpg');
    background-repeat: no-repeat;
      background-size: cover;
}